.cmdtitle {
  font-weight: bold;
  font-size: 16px;
}

.cmdtitle::before { 

}

.cmdauthor {
  font-size: 10px;
}

.cmdauthor::before { 
    content: "By: ";
}

.cmddate {
  font-style: italic;
  font-size: 10px;
}

.cmddate::before { 
    content: "Posted on: ";
}

.cmdcategories {
  font-size: 10px;
}

.cmdcategories::before { 
    content: "In: ";
}

.cmdtags {
  font-size: 10px;
}

.cmdtags::before { 
    content: "Tags: ";
}

.content_metadata_widget_box {
  
}